# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/lucaslui/Desktop/Yocto/poky/meta \
  /home/lucaslui/Desktop/Yocto/poky/meta-poky \
  /home/lucaslui/Desktop/Yocto/poky/meta-yocto-bsp \
  /home/lucaslui/Desktop/Yocto/meta-openembedded/meta-oe \
  /home/lucaslui/Desktop/Yocto/meta-openembedded/meta-networking \
  /home/lucaslui/Desktop/Yocto/meta-openembedded/meta-filesystems \
  /home/lucaslui/Desktop/Yocto/meta-openembedded/meta-python \
  /home/lucaslui/Desktop/Yocto/meta-rust \
  /home/lucaslui/Desktop/Yocto/meta-virtualization \
  /home/lucaslui/Desktop/Yocto/meta-security/meta-tpm \
  /home/lucaslui/Desktop/Yocto/meta-clang \
  /home/lucaslui/Desktop/Yocto/meta-iotedge \
  /home/lucaslui/Desktop/Yocto/meta-smartsite \
  "
